body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
span{
    color: orange
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-size{
    width: 50%;
    padding-left: 5%;
    
}
.half-size img{
    width: 70%;
}
.id-text{
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(orange, tomato
    );
    border-radius: 5%;
    font-style: italic;
    font-weight: 700;
    color: white;

}
.first-page{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-page{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.third-page{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#s{
    font-size: smaller;
    color: blue;
}
#uri{
    font-size: smaller;
    color: blue;
}
#uff{
    font-size: smaller;
    color: blue;
}
.dui-vai{
    width: 50%;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    
}
.font{
    font-size: 35px;
}
#bura{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
    
}
#baby{
    border-left: 7px solid; 
    border-image:linear-gradient(red, yellow) ;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}